# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env

# Node.js
node_modules/
.next/
out/
dist/
.cache/
*.log

# Загальні
.DS_Store
.idea/
.vscode/

# Віртуальні оточення
venv/
.env

# Локальні бази даних
*.db

# Інше
__pycache__/
*.pyc